.search-list-container{
    margin-top: 80px;
    display: flex;
    padding: 0 30px;
}

.search-list-left{
    width: 100%;
}
.search-list-right{
    max-width: 20%;
    /* padding-top: 10px; */
}


@media screen and (max-width:400px) {
.search-list-container{
    padding: 0 8px;
}
}