.t10-container{
    padding: 20px 10px;
    margin: 10px 0;
    background-color: var(--clr-bg-2);
}
.t10-card:hover{
    opacity: 0.6;
    background-color: var(--clr-bg-2);
}

.t10-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.t10-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
}
.t10-card{
    display: flex;
    gap: 10px;
    overflow: hidden;
}
.t10-card-tag p{
    font-size: 14px;
}
.t10-card-status{
    font-size: 14px;
    text-transform: capitalize;
}
.t10-title{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-inter);
    color: var(--clr-text);

}
.t10-rank-poster{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.t10-rank{
    border-bottom: 3px solid var(--clr-accent);
    padding: 2px 8px;
    font-weight: 800;
    /* width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.t10-poster{
    width: 80px;
    height: 100px;
    flex: none;

}
.t10-poster img{
    width: 100%;
    height: 100%;
}
.t10-info{
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 5px;
    border-bottom: 0.2px solid var(--clr-secondary);
    padding: 5px 0;
    /* flex-wrap: wrap; */

}
.t10-name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
}
.t10-card-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.t10-c-tag{
    padding: 2px 6px;
    border-radius: 10px;
    border: 2px solid var(--clr-accent);
    color: var(--clr-accent);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    align-self: flex-start;
}
.t10-card-tags{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 5px;
}
@media screen and (max-width:640px) {
    .t10-container{
        display: none;
    }
    
}