
.list-view-container{
    margin: 0 20px;
}

.lv-title-see-more{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.lv-cards{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.lv-title{
    font-weight: 700;
    font-size: 20px;
    color: var(--clr-text);
}
.lv-view-more{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    /* padding: 2px; */
    cursor: pointer;

}