.layout-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; 
  
}
.layout-childern{
    padding: 0 60px;
}